<ngb-carousel [showNavigationArrows]=false>
    <ng-template ngbSlide>
        <div class="item">
            <div class="person">
                <img src="../../assets/testimony-01.png" alt="">
                <div>
                    <strong>Ramona Carter</strong>
                    <small>Co-fundador e sócio geral, Administradores.com</small>
                </div>
            </div>
            <div class="text">
                <cite>Temos o prazer de trabalhar com o Dúvidas para tornar mais fácil para os nossos fundadores internacionais gastar mais tempo trabalhando na inicialização e menos tempo na papelada.</cite>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="item">
            <div class="person">
                <img src="../../assets/testimony-02.png" alt="">
                <div>
                    <strong>Fernando F.</strong>
                    <small>Front-end na Prudential do Brasil :)</small>
                </div>
            </div>
            <div class="text">
                <cite>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id semper sem, fermentum fermentum massa. Duis tempor, tellus vitae vulputate tempus.</cite>
            </div>
        </div>
    </ng-template></ngb-carousel>