<div class="bg"></div>
<header>
  <div class="target">
    <nav>
      <div class="menuIcon">
        <a href="">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </a>
      </div>
      <a href="" class="logo"><img src="../assets/logo.png" alt=""></a>
      <ul>
        <li><a href="" title="Sobre">Sobre</a></li>
        <li><a href="" title="Produtos">Produtos</a></li>
        <li><a href="" title="Contatos">Contatos</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="text">
        <h2>O novo padrão em pagamentos</h2>
        <p>A melhor plataforma de software para administrar um negócio na Internet. Lidamos com bilhões de dólares todos os anos para empresas com visão de futuro em todo o mundo.</p>
        <div class="actions">
          <a href="" class="btn green">Comece agora</a>
          <a href="" class="btn white">Saiba mais</a>
        </div>
      </div>
      <div class="ilustrations">
        <img src="../assets/eletronics.png" alt="" class="eletronics">
      </div>
    </div>
  </div>
</header>

<div class="main">
  <div class="target">
    <div class="content">
      <ul class="cards">
        <li>
          <div class="cards-header">
            <h2>Plano 1</h2>
            <strong>Máquina Wifi</strong>
          </div>
          <div class="cards-middle">
            R$9,90
            <small>/mês + taxas</small>
          </div>
          <div class="cards-footer">
            <a href="" class="btn gray" title="Clique para saber mais sobre o Plano 1">Saiba mais</a>
          </div>
        </li>
        <li>
          <div class="cards-header">
            <h2>Plano 2</h2>
            <strong>Máquina Wifi e Chip</strong>
          </div>
          <div class="cards-middle">
            R$29,90
            <small>/mês + taxas</small>
          </div>
          <div class="cards-footer">
            <a href="" class="btn gray" title="Clique para saber mais sobre o Plano 2">Saiba mais</a>
          </div>
        </li>
        <li>
          <div class="cards-header">
            <h2>Plano 3</h2>
            <strong>Máquina Chip</strong>
          </div>
          <div class="cards-middle">
            R$19,90
            <small>/mês + taxas</small>
          </div>
          <div class="cards-footer">
            <a href="" class="btn gray" title="Clique para saber mais sobre o Plano 3">Saiba mais</a>
          </div>
        </li>
      </ul>

      <app-carousel></app-carousel>

      <div class="register">
        <h3>Cadastre-se agora</h3>
        <p>Ganhe um 5% de desconto no primeiro mês.</p>
        <form action="">
          <input type="text" placeholder="Digite seu email">
          <input type="button"class="btn green" value="Cadastrar" title="Clique para se cadastrar">
        </form>
      </div>
    </div>
  </div>
  <footer>
    <p>Esta interface foi projetada apenas para desafio do candidado. Não é um produto e nem uma empresa real.</p>
  </footer>
</div>
<router-outlet></router-outlet>